.light {
    background-color: #232323;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 20px; 
  }
.frame {
  top: 0px;
  left: 100px;
  display: flex;
  flex-direction: column;
  width: 628px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
}

.frame .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #cfabff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .div {
  position: relative;
  width: 435px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #f5f5f5;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 23px;
}

.frame .div-2 {
  align-items: flex-start;
  gap: 16px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.frame .div-wrapper {
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 24px;
  background-color: #383838;
  border-radius: 8px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.frame .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 23px;
  white-space: nowrap;
}

.frame .div-wrapper-2 {
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 24px;
  background-color: #7c17ff;
  border-radius: 8px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.frame .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Roboto", Helvetica;
  font-weight: 500;
  color: #f5f5f5;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 23px;
  white-space: nowrap;
}
