.dark {
    background-color: #141414;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img-container {
    display: flex;
    align-items: center;
    padding: 20px; /* Add padding for spacing */
    max-width: 800px; /* Set a maximum width for the container */
  }
  
  .asset {
    max-width: 40%; /* Adjust the image width as needed */
    margin-right: 104px; /* Add margin for spacing */
  }
  
  .text {
    max-width: 50%; /* Adjust the text width as needed */
  }
  
  .title {
    color: #fff;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap; /* Ensure the title stays on one line */
    margin-bottom: 24px; /* Add a gap between title and content */
  }
  
  .content {
    color: #f5f5f5;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 144%;
    /* 23.04px */
    margin-bottom: 10px; /* Add margin between paragraphs */
  }
  