/* DivCard.css */

.div-card {
    width: 632px;
    height: 618px;
    border: 1px solid #ccc; /* Add border or box-shadow as needed */
    overflow: hidden;
    margin: 20px; /* Add margin for spacing */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .div-card-image {
    width: 394px%;
    height: 262px; /* Adjust the height of the image as needed */
    object-fit: cover;
    margin-top: 48px;
  }
  
  .div-card-content {
    padding: 20px;
    text-align: center;
  }
  
  .div-card-title {
    font-size: 24px;
    margin-bottom: 24px;
  }
  
  .div-card-text {
    font-size: 16px;
    line-height: 1.5;
  }
  